/* 新闻列表 */
* {
	margin: 0;
	padding: 0;
}
.newslist {
	width: 400px;
	border:1px #ddd solid;
	margin:50px auto;
/*	padding:0 10px;*/
}
.newslist li {
	list-style:none;
	line-height: 40px;
	padding: 0 5px ;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}

.newslist li:not(:last-child){
	
	border-bottom :1px #ddd dotted;

}
.newslist li::before {
	content: url('http://www-x-jiangxianhengxin-x-com.img.abc188.com/Templates/default/Images/arrow.gif');
	margin-right: 5px;

} 
.newslist li:nth-child(even){
	background-color: #eee;
}
.newslist li:hover {

	background-color: red;
	color:white;


}
.newslist li:first-child {
	color: red;
	font-weight: bold;
}



p {

	text-indent: 2em;
	

}
p::first-line {
	color: red;
}