*{
	margin: 0;
	padding: 0;
}
.slide-list {
	position: relative;
	width: 800px;
	height: 530px;
}
ul{
	list-style: none;
}
.slide-list__item{
	position: absolute;
	opacity: 0;
/* 	添加动画 */
	transition:opacity 1s
}
.slide-list__item--selected{
	opacity: 1;
	/* 	添加动画 */
	transition:opacity 1s
}

/* 小圆点样式 */
.slide-list__controller,.slide-list__controller1{

	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);

}
.slide-list__controller1 {
	top: 20px;
}
.slide-list__controller-button,.slide-list__controller-button1 {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: white;
}
.slide-list__controller-button__selected,.slide-list__controller-button__selected1 {
	background: orange;
}

.slide-list__next,.slide-list__previous {
	position:absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	background: rgba(0,0,0,0.5);
	transform: translateY(-50%);
	color: white;
	text-align: center;
	line-height: 50px;
	text-decoration: none
}
.slide-list__next {
	right: 0;
}
.slide-list__previous::before {
	content: "<";
}
.slide-list__next::before {
	content: ">";
}


